%ul
  %li=  link_to "bikes", object_manage_path("bikes")
  %li=  link_to "locations", object_manage_path("locations")
  %li=  link_to "users", object_manage_path("users")
  %li=  link_to "reservations", object_manage_path("reservations")