#account[current_user]
  .title= "Hello #{current_user.name_first}"
  .bold=" Membership status: #{current_user.processed ? "processed" : "unprocessed"}"
  
  .prepend-top.notice
    %p
      We will not be able to process online payments until June 30. You may register now, and on June 30 you will receive an email with details for how to complete your registration. If you would like to process your registration sooner, register now and bring your appropriate Membership Fee to the Leverett House guard's office (directions can be found on the Locations page).
  