#query {
  background: #dfe2f1; }

ul {
  margin: 0px !important;
  padding-left: 0px; }

li {
  display: inline;
  list-style: none;
  padding-left: 10px !important; }

a {
  text-decoration: none;
  color: black; }

a:visited {
  color: black; }

a.active {
  color: #cc0001; }

a:hover {
  color: #cc0001 !important;
  background-color: transparent !important; }

#corner_button {
  height: 0px;
  position: relative;
  top: 0px;
  z-index: 10;
  opacity: 0.8; }

input[type=submit] {
  border: none; }

.caption {
  background-color: #ccc;
  opacity: .6;
  color: black;
  height: 40px;
  top: -40px;
  position: relative; }

.title {
  font-size: 20px;
  font-weight: 200; }

body {
  color: #58595b;
  text-align: left;
  background: #9dc6e9; }

.feedback-div {
  padding: 20px;
  width: 250px;
  background: #ccc;
  border: 1px solid #29216d;
  z-index: 10; }

ul {
  text-align: left; }
  ul.large {
    line-height: 40px;
    font-size: 25px; }

.notice {
  padding: 0px;
  margin-left: -2px; }

#header {
  position: fixed;
  height: 200px;
  background: white url(../images/website_bg_final.png) no-repeat;
  z-index: 10; }
  #header.admin {
    background: white; }
  #header #navigation {
    margin-top: 10px; }
    #header #navigation .bottom {
      margin-top: 110px; }
    #header #navigation ul {
      text-align: right; }
      #header #navigation ul li {
        display: inline;
        padding: 15px; }
        #header #navigation ul li a {
          font-size: 20px; }

#main {
  position: relative;
  top: 200px;
  background: white; }

ul, ol {
  margin: 0px;
  padding-left: 0px; }

.spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  /* half width of the spinner gif */
  margin-top: -50px;
  /* half height of the spinner gif */
  text-align: center;
  z-index: 1234;
  overflow: auto;
  width: 100px;
  /* width of the spinner gif */
  height: 102px;
  /*hight of the spinner gif +2px to fix IE8 issue */ }

#account p {
  padding: 20px; }

#about p {
  text-align: left; }

a {
  text-decoration: none;
  color: #616265; }
  a:hover {
    background-color: transparent;
    color: #282828; }
  a.sortable {
    padding-right: 25px; }
  a.current {
    color: #c12721; }
    a.current.asc {
      background: url(../images/up_arrow.jpg) no-repeat right; }
    a.current.desc {
      background: url(../images/down_arrow.jpg) no-repeat right; }

#about {
  font-size: 14px; }

#fancybox-outer {
  color: #979797; }

.hidden {
  display: none; }

.f0 {
  font-size: .25em !important; }

.f1 {
  font-size: .5em !important; }

.f2 {
  font-size: .75em !important; }

.f3 {
  font-size: 1em !important; }

.f4 {
  font-size: 1.25em !important; }

.f5 {
  font-size: 1.5em !important; }

.f6 {
  font-size: 1.75em; }

.bold {
  font-weight: bold; }

.border-right {
  border-right: 1px dotted #777;
  margin-right: -1px; }

.border-left {
  border-left: 1px dotted #777;
  margin-left: 1px; }

.border-bottom {
  border-bottom: 1px dotted #777; }

.border-top {
  border-top: 1px dotted #777; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

ul.sortable {
  margin: 0px;
  padding: 0px; }
  ul.sortable li {
    float: left; }

.placeholder {
  background: #507db4; }

.border {
  border: 1px dotted #777;
  margin-right: -1px;
  margin-left: 1px; }

.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity; }

/* the overlayed element */
.apple_overlay {
  /* initially overlay is hidden */
  display: none;
  /* growing background image */
  background-image: url(../images/overlay/transparent.png);
  /* 
  	width after the growing animation finishes
  	height is automatically calculated
  */
  width: 640px;
  /* some padding to layout nested elements nicely  */
  padding: 35px;
  /* a little styling */
  font-size: 11px; }

/* default close button positioned on upper right corner */
.apple_overlay .close {
  background-image: url(../images/overlay/close.png);
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  height: 35px;
  width: 35px; }

#objects_container {
  overflow-y: scroll; }
  #objects_container .bike {
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    min-height: 75px; }
    #objects_container .bike .photo {
      padding: 5px; }
  #objects_container .reservation {
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    min-height: 75px; }
    #objects_container .reservation .photo {
      padding: 5px; }
    #objects_container .reservation .date {
      font-size: 24px;
      font-weight: 200; }
    #objects_container .reservation .unlock_code {
      margin-top: 20px; }

#filters_container {
  min-height: 500px;
  margin-right: -1px;
  border-right: 1px solid #ccc; }
  #filters_container .header {
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px; }
  #filters_container .subheader {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    border-bottom: 1px dotted #d7d7d7;
    padding-top: 15px;
    margin-bottom: 5px; }
  #filters_container .filter a {
    width: 100px; }

.reservation_form_wrapper .header {
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px; }
.reservation_form_wrapper #time_picker {
  position: relative;
  top: -30px; }
.reservation_form_wrapper #reservation_table {
  background: white; }
  .reservation_form_wrapper #reservation_table table tr.quarters {
    line-height: 10px; }
    .reservation_form_wrapper #reservation_table table tr.quarters td {
      border-right: 1px solid #ccc; }
      .reservation_form_wrapper #reservation_table table tr.quarters td.first {
        border-left: 1px solid #ccc; }
  .reservation_form_wrapper #reservation_table table tr.hours td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 15px;
    background: transparent;
    z-index: 99; }
    .reservation_form_wrapper #reservation_table table tr.hours td.even {
      border-left: 1px solid #ccc; }
    .reservation_form_wrapper #reservation_table table tr.hours td.odd {
      border-left: 1px dotted #ccc; }
    .reservation_form_wrapper #reservation_table table tr.hours td.final {
      border-right: 1px solid #ccc; }

#bike_table {
  background: white; }
  #bike_table table {
    table-layout: fixed; }
    #bike_table table tr.days {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }
      #bike_table table tr.days td {
        text-align: center;
        border-right: 1px solid #ccc; }
        #bike_table table tr.days td.first {
          border-left: 1px solid #ccc; }
    #bike_table table tr.quarters {
      line-height: 10px; }
      #bike_table table tr.quarters td {
        border-right: 1px solid #ccc; }
        #bike_table table tr.quarters td.first {
          border-left: 1px solid #ccc; }
    #bike_table table tr.hours td {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      height: 15px;
      background: transparent;
      z-index: 99; }
      #bike_table table tr.hours td.even {
        border-left: 1px solid #ccc; }
      #bike_table table tr.hours td.odd {
        border-left: 1px dotted #ccc; }
      #bike_table table tr.hours td.final {
        border-right: 1px solid #ccc; }
      #bike_table table tr.hours td.unavail {
        background: #d7d7d7; }

#unlock_code {
  font-size: 24px;
  font-weight: 800; }

#dialog {
  display: none; }

.flag.illegal {
  color: #c12721; }

#slider {
  position: relative;
  width: 645px;
  /* Change this to your images width */
  height: 315px;
  /* Change this to your images height */
  background: url(../images/loading.gif) no-repeat 50% 50%; }

#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none; }

#slider a {
  border: 0;
  display: block; }
