#about
  #accordion.prepend-top
    - @pages.each_with_index do |page, index|
      %h3= link_to page.title, "#"
      %div{:id => "tab-#{index}"}
        = page.text.html_safe
:javascript
  $(function(){
  $('#accordion').accordion({
  autoHeight:false
  });
  })
  