#about
  #tabs.prepend-top
    %ul
      - @pages.each_with_index do |page, index|
        %li.align-center= link_to page.title, "#tab-#{index}"
    - @pages.each_with_index do |page, index|
      %div{:id => "tab-#{index}"}
        = page.text.html_safe
:javascript
  $(function(){
  $('#tabs').tabs();
  })
  