#contact.align-center.prepend-top
  %h2 Crimson Bikes Contact
  %p
    EMAIL:
    =link_to "info@crimsonbikes.org","mailto:info@crimsonbikes.org", :target => "_blank"
    %br
    Phone: 814-446-BIKE (2453)
    %br
    = link_to "http://maps.google.com/maps?q=1124+Dewolfe+Street,+Cambridge,+MA&hl=en&sll=37.0625,-95.677068&sspn=46.946584,93.076172&z=16" do
      Leverett House
      %br
      Library Building, L2