.slider-wrapper.theme-default.span-20.prepend-2.append-2.last.prepend-top.append-bottom
  .ribbon
  #slider.nivoSlider
    - %w{ bg5 bg6 bg7 }.each do |bg|
      = image_tag "slider_images/#{bg}.png", :size => "789x274", :title => "Welcome to Crimson Bikes"
.span-24.prepend-top
  %ul.radio.align-center.prepend-top
    %li.large
      =link_to "Sign In", new_user_session_path
      =link_to "Register", new_user_registration_path
  %ul.align-center
    %li
      =link_to "Sign In", new_user_session_path
      \ or 
      =link_to "Register", new_user_registration_path
      \ to reserve a bike
:javascript
  $('#slider').nivoSlider();