.slider-wrapper.theme-default.span-24.last.prepend-top.append-bottom
  .ribbon
  #corner_button.align-right= link_to (image_tag 'slider_images/20dollar_button80.png'), new_user_registration_path
  #slider.nivoSlider
    - %w{ bg_1 bg_2 bg_3 }.each do |bg|
      = image_tag "slider_images/#{bg}.jpg", :size => "950x330", :title => "Welcome to Crimson Bikes"
.span-24.prepend-top
  %ul.radio.align-center.prepend-top
    %li.large
      =link_to "Sign In", new_user_session_path
      =link_to "Register", new_user_registration_path
  %ul.align-center
    %li
      =link_to "Sign In", new_user_session_path
      \ or 
      =link_to "Register", new_user_registration_path
      \ to reserve a bike
:javascript
  $('#slider').nivoSlider();